<div class="dialog-body">
  <h2 mat-dialog-title class="text-center">User contact info!</h2>
  <div>
    <mat-dialog-content>
      <h3 class="mat-h3"><strong>Name: </strong>{{this.data.full_name}}</h3>
      <h3 class="mat-h3"><strong>Email: </strong>{{this.data.email}}</h3>
      <h3 class="mat-h3"><strong>Phone number: </strong>{{this.data.phone_number}}</h3>
      <h3 class="mat-h3 text-center">You can send a message if you log in!</h3>
    </mat-dialog-content>
    <div class="vertical-center">
      <mat-dialog-actions>
        <button mat-button class="mat-primary" mat-dialog-close>Close</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
