<div class="page-body">
  <h2 class="mat-h2 text-center">Recent advertisements!</h2>
  <div *ngFor="let ad of ads" class="vertical-center">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{ad.title}}</mat-card-title>
        <mat-card-subtitle>{{ad.advertiser.username}}, {{ad.adtext}}</mat-card-subtitle>
      </mat-card-header>
      <img class="img-responsive" *ngIf="notBuying(ad)" mat-card-image src="{{ad.picture_path}}" alt="Photo of the advertisement">
      <mat-card-content>
        <h3 class="mat-h3">Description</h3>
        <p>
          {{ad.description}}
        </p>
      </mat-card-content>
      <div class="vertical-center">
        <mat-card-actions>
          <button *ngIf="!this.authService.isLoggedIn" mat-raised-button (click)="contact(ad.advertiser)" class="mat-primary">CONTACT</button>
          <a *ngIf="this.authService.isLoggedIn" mat-raised-button routerLink="/message/{{ad.advertiser.username}}" class="mat-primary">CONTACT</a>
          <button mat-raised-button [disabled]="!this.authService.isLoggedIn" (click)="report(ad)" class="mat-accent">REPORT</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
